include LICENSE
include README.md
include requirements.txt
include dev-requirements.txt
include network_wrangler/schemas/project_card.json
include network_wrangler/schemas/roadway_network_link.json
include network_wrangler/schemas/roadway_network_node.json
include network_wrangler/schemas/roadway_network_shape.json

recursive-include example *
recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests/t_*

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
