body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    font-weight: 300;
    padding: 40px;
  }

a {
    color: #7c4dff;
}

@media screen and (max-width: 76.1875em) {
    li > a {
        color: #0f4c92;
    };
}

nav a {
    color: #fff;
}

nav path {
    color: #fff;
}

.btn-primary {
    background-color: #546d78;
    border-color: #546d78;
}
